mixin tableHeader(name, width, sortKey)
  th.sort.white-space-nowrap.align-middle.ps-4.text-center(scope='col' style=`width:${width};` data-sort=sortKey)= name

mixin tableRow(producto)
  tr.position-static
    td.align-middle.white-space-nowrap.py-0
      a.d-block.border.border-translucent.rounded-2(href='../../../apps/e-commerce/landing/product-details.html')
        img(src='/assets/img//products/1.png' alt='' width='53')
    td.sku.align-middle.white-space-nowrap.fs-8.ps-4.fw-bold.text-center= producto.sku
    td.nombre.align-middle.ps-4
      a.fw-semibold.line-clamp-3.mb-0.text-center(href='../../../apps/e-commerce/landing/product-details.html')= producto.nombre
    td.marca.align-middle.white-space-nowrap.fs-8.ps-4.fw-bold.text-center= producto.marca.nombre
    td.categoria.align-middle.pb-2.ps-3.text-center(style='min-width:225px;')
      a.text-decoration-none.text-center(href='#!')
      span.badge.badge-tag.mb-2.fs-8.text-center= producto.categoria.nombre
    td.medida.align-middle.white-space-nowrap.text-center.fw-bold.ps-4.fs-8= `${producto.capacidad} ${producto.unidad.nombre}`
    td.precio.align-middle.white-space-nowrap.text-center.fw-bold.ps-4.fs-8= `${producto.precio}`
    td.stock.align-middle.pb-2.ps-3.text-center(style='min-width:225px;')
      a.text-decoration-none(href='#!')
        span.badge.badge-tag.mb-2.fs-8.px-5.text-dark(class=producto.stock <= 10 ? 'bg-danger' : 'bg-success')= producto.stock
    td.proveedor.align-middle.text-start.fw-semibold.ps-4.text-center.fs-8
      a(href='#!')= producto.proveedor.nombre
    td.fecha.align-middle.white-space-nowrap.ps-4.fw-bold.text-center= producto.updatedAt.toLocaleDateString()
    td.align-middle.white-space-nowrap.text-end.pe-0.ps-4.btn-reveal-trigger
      .btn-reveal-trigger.position-static
        button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal.fs-10(type='button' data-bs-toggle='dropdown' data-boundary='window' aria-haspopup='true' aria-expanded='false' data-bs-reference='parent')
          span.fas.fa-ellipsis-h.fs-10
        .dropdown-menu.dropdown-menu-end.py-2
          a.dropdown-item(href='#!') Editar
          a.dropdown-item.text-danger(href='#!') Eliminar