extends ../layout/index

//- Mixins

include ../mixins/tablas/tablas

block contenido
    .content

      nav.mb-3(aria-label='breadcrumb')
      .mb-9
        .row.g-3.mb-4
          .col-auto
            h2.mb-0 Productos
        
        #products(data-list='{"valueNames":["sku","nombre","marca","categoria","medida","precio","stock","proveedor","fecha"],"page":5,"pagination":true}')
          .mb-4
            .d-flex.flex-wrap.gap-3
              .search-box
                form.position-relative
                  input.form-control.search-input.search(type='search' placeholder='Buscar productos' aria-label='Search')
                  span.fas.fa-search.search-box-icon
              .scrollbar.overflow-hidden-y
              .ms-xxl-auto
              button.btn.btn-link.text-body.me-4.px-0
                span.fa-solid.fa-file-export.fs-9.me-2
                | Exportar
              a.text-white(href=`${endpoints.formularioProducto}`)
                button#addBtn.btn.btn-primary
                  span.fas.fa-plus.me-2
                  | Añadir Producto
          .mx-n4.px-4.mx-lg-n6.px-lg-6.bg-body-emphasis.border-top.border-bottom.border-translucent.position-relative.top-1
            .table-responsive.scrollbar.mx-n1.px-1
              table.table.fs-9.mb-0.table-striped.table-hover
                thead
                  tr
                  +tableHeader('', '70px', '')
                  +tableHeader('SKU', '350px', 'sku')
                  +tableHeader('NOMBRE', '350px', 'nombre')
                  +tableHeader('MARCA', '350px', 'marca')
                  +tableHeader('CATEGORIA', '150px', 'categoria')
                  +tableHeader('MEDIDA', '', 'medida')
                  +tableHeader('PRECIO', '150px', 'precio')
                  +tableHeader('STOCK', '250px', 'stock')
                  +tableHeader('PROVEEDOR', '200px', 'proveedor')
                  +tableHeader('FECHA', '200px', 'fecha')
                tbody#products-table-body.list
                  each producto in productos
                    tr.position-static
                      td.align-middle.white-space-nowrap.py-0
                        a.d-block.border.border-translucent.rounded-2(href='../../../apps/e-commerce/landing/product-details.html')
                          img(src=`${producto.img}` alt='' width='53')
                      td.sku.align-middle.white-space-nowrap.fs-8.ps-4.fw-bold.text-center= producto.sku
                      td.nombre.align-middle.ps-4
                        a.fw-semibold.line-clamp-3.mb-0.text-center(href='../../../apps/e-commerce/landing/product-details.html')= producto.nombre
                      td.marca.align-middle.white-space-nowrap.fs-8.ps-4.fw-bold.text-center= producto.marca.nombre
                      td.categoria.align-middle.pb-2.ps-3.text-center(style='min-width:225px;')
                        a.text-decoration-none.text-center(href='#!')
                        span.badge.badge-tag.mb-2.fs-8.text-center= producto.categoria.nombre
                      td.medida.align-middle.white-space-nowrap.text-center.fw-bold.ps-4.fs-8= `${producto.capacidad} ${producto.unidad.nombre}`
                      td.precio.align-middle.white-space-nowrap.text-center.fw-bold.ps-4.fs-8= `${producto.precio}`
                      td.stock.align-middle.pb-2.ps-3.text-center(style='min-width:225px;')
                        a.text-decoration-none(href='#!')
                          span.badge.badge-tag.mb-2.fs-8.px-5.text-dark(class=producto.stock <= 10 ? 'bg-danger' : 'bg-success')= producto.stock
                      td.proveedor.align-middle.text-start.fw-semibold.ps-4.text-center.fs-8
                        a(href='#!')= producto.proveedor.nombre
                      td.fecha.align-middle.white-space-nowrap.ps-4.fw-bold.text-center= producto.updatedAt.toLocaleDateString()
                      td.align-middle.white-space-nowrap.text-end.pe-0.ps-4.btn-reveal-trigger
                        .btn-reveal-trigger.position-static
                          button.btn.btn-sm.dropdown-toggle.dropdown-caret-none.transition-none.btn-reveal.fs-10(type='button' data-bs-toggle='dropdown' data-boundary='window' aria-haspopup='true' aria-expanded='false' data-bs-reference='parent')
                            span.fas.fa-ellipsis-h.fs-10
                          .dropdown-menu.dropdown-menu-end.py-2
                            a.dropdown-item(href=`${endpoints.formularioProducto}/${producto.sku}`) View
                            a.dropdown-item(href='#!') Export
                            .dropdown-divider
                            a.dropdown-item.text-danger(href='#!') Remove
          .row.align-items-center.justify-content-between.py-2.pe-0.fs-9
            .col-auto.d-flex
              p.mb-0.d-none.d-sm-block.me-3.fw-semibold.text-body(data-list-info='data-list-info')
              a.fw-semibold(href='#!' data-list-view='*')
                | Mostrar todos los registros
                span.fas.fa-angle-right.ms-1(data-fa-transform='down-1')
              a.fw-semibold.d-none(href='#!' data-list-view='less')
                | Mostrar menos registros
                span.fas.fa-angle-right.ms-1(data-fa-transform='down-1')
            .col-auto.d-flex
              button.page-link(data-list-pagination='prev')
                span.fas.fa-chevron-left
              ul.mb-0.pagination
              button.page-link.pe-0(data-list-pagination='next')
                span.fas.fa-chevron-right
          div#sweetalert-params(data-confirmado='true' data-title='Exito' style='display:none;')

    script.
      var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
      var navbarTop = document.querySelector('.navbar-top');
      if (navbarTopStyle === 'darker') {
      navbarTop.setAttribute('data-navbar-appearance', 'darker');
      }
      var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
      var navbarVertical = document.querySelector('.navbar-vertical');
      if (navbarVertical && navbarVerticalStyle === 'darker') {
      navbarVertical.setAttribute('data-navbar-appearance', 'darker');
      }